.navbar {
    box-shadow: -3px 3px 6px #eeeeee;
    padding: 16px 32px;
    display: flex;
    background-color: #222;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    left: 0px;
}

.logo{
    font-size: 20px;
    font-weight: 500;
    color:#fff !important;

}

.navbar a {
    color:#fff !important;
    text-decoration: none;
}

.navbar button{
    background-color: transparent;
    border:none;
    color:#fff;
    margin-left: 12px;
}